<!DOCTYPE html>
<html>
  <head>
    <title>Flower shop</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
	 <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="../images/icon-favicon.png" type="image/x-icon">
  </head>
  <body>
    <h1>Welcome to our Flower shop</h1>
    <div class="container">
		<a class='product__btn' href="/about">About us</a>
		<a class='product__btn' href="/products">Products</a>
		<a class='product__btn' href="/products/create">Add product</a>
	 </div>
  </body>
</html>
