<!DOCTYPE html>
<html>
  <head>
    <title>internet store</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to internet store</h1>
    <a href="/about">About us</a>
    <a href="/products">Products</a>
    <a href="/addProduct">Add product</a>
  </body>
</html>
