<!DOCTYPE html>
<html>
  <head>
    <title>internet store</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to internet store</h1>
    <div class="container">
		<a class='product__btn' href="/about">About us</a>
		<a class='product__btn' href="/products">Products</a>
		<a class='product__btn' href="/products/create">Add product</a>
	 </div>
  </body>
</html>
