<header class="main-menu">
	<nav>
	  <ul>
		 <li><a class="btn" href="/">Home</a></li>
		 <li><a class="btn" href="/courses">Courses list</a></li>
		 <li><a class="btn" href="/students">Students list</a></li>
	  </ul>
	</nav>
 </header>